html {
  font-family: "Junction", sans-serif;
}

h1 {
  display: none;
}

body {
  max-width: 34em;
  margin: 0 auto;
  margin-top: 5rem;

  display: grid;
  place-content: center;
  text-align: center;
  align-items: center;
}

main {
  text-align: center;
}

p {
  line-height: 1.5;
}

.main-photo {
  width: 100%;
  max-width: 24px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.main-photo:hover {
  transform: scale(5) rotate(360deg);
}

/* PVD */
.pvd {
  max-width: 20rem;
}
.pvd h2 {
  font-weight: 400;
  color: #85909d;
  font-size: 1rem;
}

.pvd p {
  margin-bottom: 3rem;
}

.pvd {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
