html {
  font-family: "Futura", sans-serif;
  cursor: none;
}

h1 {
  display: none;
}

body {
  max-width: 34em;
  margin: 0 auto;

  display: grid;
  place-content: center;
  text-align: center;
  align-items: center;
}

main {
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  cursor: none;
}
a:focus-visible {
  outline-offset: 4px;
  outline-color: black;
  outline-width: 4px;
  border-radius: 1px;
}

.main-photo {
  width: 100%;
  max-width: 24px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.main-photo:hover {
  transform: scale(5) rotate(360deg);
}

/* PVD */
.pvd {
  max-width: 14rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.pvd h2 {
  font-weight: unset;
  font-size: 1rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  margin-bottom: 56px;
  margin-left: -400px;
}

.pvd p {
  margin-bottom: 7rem;
  text-align: justify;
  transform: translateX(80px);
}

.glastonbury-button {
  display: none;
  background: blue;
  color: white;
  padding: 8px 12px;
  border-radius: 2px;
  margin-top: 2rem;
  text-decoration: none;
  border: 2px solid blue;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (hover: hover) {
  .glastonbury-button {
    display: block;
  }
}

/* LOGO */
.amlogo svg {
  width: 2rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.amlogo:hover svg {
  animation: spin 1.4s;
}

.amlogo:hover svg .a-group path {
  fill: red;
}

.amlogo:hover svg .m-group path {
  fill: blue;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .pvd h2 {
    margin-left: 0px;
    margin-bottom: 0px;
    transform: rotate(0deg);
    text-align: end;
  }

  .pvd p {
    transform: unset;
  }
}

/* CURSOR */
.cursor {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: black;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 100;
}

.hover {
  background-color: red;
  outline-offset: 4px;
  width: 16px;
  height: 16px;
  outline: 2px solid red;
  transition-duration: 0.2s;
}
